<% layout("layout") -%>

    <% if(user.vkId) { %>
        <h1>
            Name :
            <%= user.name  %>
                <br> Surname:
                <%=   user.surname %>
                    <br> Gender:
                    <%=   user.gender %>
                        <br> Created:
                        <%=   user.cerated %>
                            <br>
                            <%=   user.provider %>
                                <br>
        </h1>
        <% } else { %>
            <a href="/auth/vkontakte">Sign In with vkontakte</a>
            <%  } %>